openapi: 3.0.0
info:
  title: API Panel de Administración - Huerta Hogar
  description: Documentación de servicios Firebase Firestore - Los ejemplos son estáticos
  version: 1.0.0
  contact:
    name: Soporte Técnico
    email: soporte@tiendaonline.com

servers:
  - url: https://firestore.googleapis.com/v1
    description: Firebase Firestore API

tags:
  - name: Dashboard
    description: Operaciones del panel de control
  - name: Productos
    description: Gestión de productos
  - name: Órdenes
    description: Gestión de órdenes de compra
  - name: Usuarios
    description: Gestión de usuarios
  - name: Categorías
    description: Gestión de categorías

paths:
  /api/dashboard/estadisticas:
    get:
      tags:
        - Dashboard
      summary: Obtener estadísticas del dashboard
      description: Servicio Firebase - DashboardService.getEstadisticasCompletas()
      responses:
        '200':
          description: Estadísticas obtenidas correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstadisticasDashboard'
              example:
                totalCompras: 19
                proyeccionCompras: 0
                totalProductos: 9
                inventarioTotal: 710
                totalUsuarios: 4
                nuevosUsuariosMes: 1

  /api/productos:
    get:
      tags:
        - Productos
      summary: Obtener lista de productos
      description: Servicio Firebase - CrudService.getProductos()
      responses:
        '200':
          description: Lista de productos obtenida correctamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Producto'
              example:
                - id: "1"
                  nombre: "Manzanas Fuji"
                  precio: 1200
                  stock: 100
                  categoria: "Fruta"
                  imagen: "https://tienda-huerta-hogar.web.app/assets/Img/manzanas_fuji.jpg"
                  activo: true
                - id: "2"
                  nombre: "Naranjas Valencia"
                  precio: 1000
                  stock: 100
                  categoria: "Fruta"
                  imagen: "https://tienda-huerta-hogar.web.app/assets/Img/Naranja.jpg"
                  activo: true
                - id: "3"
                  nombre: "Banana Cavendish"
                  precio: 800
                  stock: 100
                  categoria: "Fruta"
                  imagen: "https://tienda-huerta-hogar.web.app/assets/Img/Banana.jpg"
                  activo: true
                - id: "4"
                  nombre: "Zanahoria Organica"
                  precio: 900
                  stock: 100
                  categoria: "Verdura"
                  imagen: "https://tienda-huerta-hogar.web.app/assets/Img/Zhanaoria Organica.jpg"
                  activo: true
                - id: "5"
                  nombre: "Espinacas Frescas"
                  precio: 700
                  stock: 100
                  categoria: "Verdura"
                  imagen: "https://tienda-huerta-hogar.web.app/assets/Img/espinacas_Frescas.jpg"
                  activo: true
                  
    post:
      tags:
        - Productos
      summary: Crear un nuevo producto
      description: Servicio Firebase - CrudService.createProducto()
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductoInput'
            example:
              nombre: "Pimientos Tricolor"
              precio: 1500
              stock: 25
              categoria: "Verdura"
              imagen: "https://tienda-huerta-hogar.web.app/assets/Img/Pimientos_Tricolor.jpg"
      responses:
        '201':
          description: Producto creado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: "nuevoIdGeneradoPorFirestore123"

  /api/productos/{id}:
    get:
      tags:
        - Productos
      summary: Obtener producto por ID
      description: Servicio Firebase - CrudService.getProductoById()
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "prod123"
      responses:
        '200':
          description: Producto encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
              example:
                id: "1"
                nombre: "Manzanas Fuji"
                precio: 1200
                stock: 15
                categoria: "Fruta"
                imagen: "https://tienda-huerta-hogar.web.app/assets/Img/manzanas_fuji.jpg"
                activo: true
        '404':
          description: Producto no encontrado
          content:
            application/json:
              example:
                error: "Producto no encontrado"
                message: "El producto con ID prod123 no existe"

    put:
      tags:
        - Productos
      summary: Actualizar producto existente
      description: Servicio Firebase - CrudService.updateProducto()
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "prod123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductoInput'
            example:
              nombre: "Naranjas Valencia"
              precio: 1100
              stock: 90
              categoria: "Fruta"
      responses:
        '200':
          description: Producto actualizado correctamente
          content:
            application/json:
              example:
                success: true
                message: "Producto actualizado correctamente"
        '404':
          description: Producto no encontrado

    delete:
      tags:
        - Productos
      summary: Eliminar producto del sistema
      description: Servicio Firebase - CrudService.deleteProducto()
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "prod123"
      responses:
        '200':
          description: Producto eliminado correctamente
          content:
            application/json:
              example:
                success: true
                message: "Producto eliminado correctamente"
        '404':
          description: Producto no encontrado

  /api/ordenes:
    get:
      tags:
        - Órdenes
      summary: Obtener lista de órdenes
      description: Servicio Firebase - CrudService.getOrdenes()
      responses:
        '200':
          description: Lista de órdenes obtenida correctamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Orden'
              example:
                - id: "orden123"
                  clienteNombre: "Juan Pérez"
                  total: 199.99
                  estado: "completado"
                  fecha: "2024-01-15T10:30:00Z"
                  productos:
                    - id: "prod123"
                      nombre: "Manzanas Fuji"
                      cantidad: 1
                      precio: 1200
                    - id: "prod456"
                      nombre: "Naranjas Valencia"
                      cantidad: 1
                      precio: 1000
                - id: "orden124"
                  clienteNombre: "María García"
                  total: 299.99
                  estado: "procesando"
                  fecha: "2024-01-14T15:45:00Z"
                  productos:
                    - id: "prod789"
                      nombre: "Banana Cavendish"
                      cantidad: 2
                      precio: 800

  /api/ordenes/{id}:
    get:
      tags:
        - Órdenes
      summary: Obtener orden por ID
      description: Servicio Firebase - CrudService.getOrdenById()
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "orden123"
      responses:
        '200':
          description: Orden encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orden'
              example:
                id: "orden123"
                clienteNombre: "Juan Pérez"
                total: 199.99
                estado: "completado"
                fecha: "2024-01-15T10:30:00Z"
                productos:
                  - id: "prod123"
                    nombre: "Manzanas Fuji"
                    cantidad: 1
                    precio: 1200
                  - id: "prod456"
                    nombre: "Naranjas Valencia"
                    cantidad: 1
                    precio: 1000
        '404':
          description: Orden no encontrada

  /api/ordenes/{id}/estado:
    put:
      tags:
        - Órdenes
      summary: Actualizar estado de orden
      description: Servicio Firebase - CrudService.updateOrdenEstado()
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "orden123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                estado:
                  type: string
                  enum: [pendiente, procesando, completado, cancelado]
            example:
              estado: "completado"
      responses:
        '200':
          description: Estado actualizado correctamente
          content:
            application/json:
              example:
                success: true
                message: "Estado actualizado a completado"
        '404':
          description: Orden no encontrada

  /api/usuarios:
    get:
      tags:
        - Usuarios
      summary: Obtener lista de usuarios
      description: Servicio Firebase - CrudService.getUsuarios()
      responses:
        '200':
          description: Lista de usuarios obtenida correctamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usuario'
              example:
                - id: "user123"
                  nombre: "Ana López"
                  email: "ana@ejemplo.com"
                  rol: "admin"
                  activo: true
                  telefono: "+56912345678"
                  direccion: "Av. Principal 123"
                - id: "user124"
                  nombre: "Carlos Ruiz"
                  email: "carlos@ejemplo.com"
                  rol: "cliente"
                  activo: true
                  telefono: "+56987654321"
                - id: "user125"
                  nombre: "María González"
                  email: "maria@ejemplo.com"
                  rol: "cliente"
                  activo: false

  /api/usuarios/{id}:
    get:
      tags:
        - Usuarios
      summary: Obtener usuario por ID
      description: Servicio Firebase - CrudService.getUsuarioById()
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "user123"
      responses:
        '200':
          description: Usuario encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
              example:
                id: "user123"
                nombre: "Ana López"
                email: "ana@ejemplo.com"
                rol: "admin"
                activo: true
                telefono: "+56912345678"
                direccion: "Av. Principal 123"
                createdAt: "2024-01-01T00:00:00Z"
        '404':
          description: Usuario no encontrado

  /api/categorias:
    get:
      tags:
        - Categorías
      summary: Obtener lista de categorías
      description: Servicio Firebase - CrudService.getCategorias()
      responses:
        '200':
          description: Lista de categorías obtenida correctamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Categoria'
              example:
                - id: "cat123"
                  nombre: "Frutas"
                  descripcion: "Frutas frescas de temporada"
                  productosCount: 15
                  activa: true
                - id: "cat124"
                  nombre: "Vegetales"
                  descripcion: "Vegetales orgánicos y frescos"
                  productosCount: 10
                  activa: true
                - id: "cat125"
                  nombre: "Abarrotes"
                  descripcion: "Productos secos y envasados"
                  productosCount: 20
                  activa: false

components:
  schemas:
    EstadisticasDashboard:
      type: object
      properties:
        totalCompras:
          type: integer
          example: 24
        proyeccionCompras:
          type: integer
          example: 15
        totalProductos:
          type: integer
          example: 156
        inventarioTotal:
          type: integer
          example: 1248
        totalUsuarios:
          type: integer
          example: 89
        nuevosUsuariosMes:
          type: integer
          example: 12

    Producto:
      type: object
      properties:
        id:
          type: string
        nombre:
          type: string
          example: "Manzanas Fuji"
        precio:
          type: number
          example: 1200
        stock:
          type: integer
          example: 15
        categoria:
          type: string
          example: "Frutas"
        imagen:
          type: string
        activo:
          type: boolean
          example: true

    ProductoInput:
      type: object
      required:
        - nombre
        - precio
        - stock
      properties:
        nombre:
          type: string
        precio:
          type: number
        stock:
          type: integer
        categoria:
          type: string
        imagen:
          type: string

    Orden:
      type: object
      properties:
        id:
          type: string
        clienteNombre:
          type: string
        total:
          type: number
        estado:
          type: string
        fecha:
          type: string
          format: date-time
        productos:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              nombre:
                type: string
              cantidad:
                type: integer
              precio:
                type: number

    Usuario:
      type: object
      properties:
        id:
          type: string
        nombre:
          type: string
        email:
          type: string
        rol:
          type: string
        activo:
          type: boolean
        telefono:
          type: string
        direccion:
          type: string
        createdAt:
          type: string
          format: date-time

    Categoria:
      type: object
      properties:
        id:
          type: string
        nombre:
          type: string
        descripcion:
          type: string
        productosCount:
          type: integer
        activa:
          type: boolean